{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "useTabs": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": "src/*.html", 
      "options": {
        "printWidth": 140
      }
    }
  ]
}
